// main: ./../main.less
.generation {
   max-width: 2000px;
   margin: 0 auto;

   @media (max-width:1890px) {
      max-width: 1900px;
   }

   &-body {
      margin-top: 125px;

      @media (max-width:930px) {
         margin-top: 60px;
      }
   }

   &-vision {
      display: flex;

      @media (max-width:1890px) {
         flex-direction: column;
         align-items: center;
      }
   }

   &-vision__img {
      @media (max-width:1890px) {
         max-width: 1000px;
      }

      @media (max-width:1180px) {
         max-width: 890px;
      }

      @media (max-width:930px) {
         max-width: 790px;
      }

      @media (max-width:730px) {
         max-width: 650px;
      }

      @media (max-width:530px) {
         max-width: 430px;
      }
   }

   &-vision__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1072px;
      height: 656px;
      background-color: #232323;
      opacity: 0.9;
      position: relative;

      @media (max-width:1890px) {
         max-width: 983px;
      }

      @media (max-width:1180px) {
         max-width: 890px;
      }

      @media (max-width:930px) {
         max-width: 790px;
      }

      @media (max-width:730px) {
         max-width: 650px;
      }

      @media (max-width:530px) {
         max-width: 430px;
         height: 400px;
      }

      &::after {
         content: " ";
         width: 544px;
         height: 544px;
         background: url(/assets/image/generation/icon.png);
         background-repeat: no-repeat;
         position: absolute;
         top: 66px;
         right: -219px;

         @media (max-width:530px) {
            display: none;
         }

      }
   }

   &-vision__title {
      font-size: 92px;
      line-height: 1.11;
      color: #ffffff;
      padding-left: 130px;
      max-width: 830px;
      position: relative;
      z-index: 2;

      @media (max-width:530px) {
         max-width: 500px;
         font-size: 46px;
         padding-left: 42px;
      }

      &:after {
         content: " ";
         width: 14px;
         height: 14px;
         background-color: red;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         position: absolute;
         z-index: 2;
         bottom: 18px;
         margin-left: 2px;

         @media (max-width:530px) {
            bottom: 6px;
            width: 8px;
            height: 8px;
         }
      }
   }

   &__span {
      color: #ff343d;
   }

   &-vision__button {
      background-color: #3b3b3b;
      color: #ffffff;
      text-decoration: none;
      margin: 49px 0 0 130px;
   }

   &-flying {
      display: flex;
      margin-top: 146px;

      @media (max-width:1890px) {
         flex-direction: column-reverse;
         align-items: center;
         margin-top: 50px;
      }

      @media (max-width:530px) {
         margin-top: 40px;
      }
   }

   &-flying__img {
      max-width: 930px;

      @media (max-width:1180px) {
         max-width: 890px;
      }

      @media (max-width:930px) {
         max-width: 790px;
      }

      @media (max-width:730px) {
         max-width: 550px;
      }

      @media (max-width:530px) {
         max-width: 400px;
      }
   }

   &-flying__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1000px;
      height: 656px;
      opacity: 0.9;
      position: relative;

      @media (max-width:1890px) {
         text-align: center;
         height: 360px;
      }

      @media (max-width:780px) {
         width: 921px;
         height: 330px;
         opacity: 0.9;
      }

      @media (max-width:530px) {
         width: 921px;
         height: 212px;
         opacity: 0.9;
      }



   }

   &-flying__title {
      font-size: 92px;
      line-height: 1.11;
      color: #070707;
      padding-left: 130px;
      max-width: 830px;
      position: relative;

      @media (max-width:780px) {
         font-size: 63px;
         max-width: 826px;
      }

      @media (max-width:530px) {
         font-size: 38px;
         max-width: 46%;
         margin: 20px 0 0 20%;
      }



      &:after {
         content: " ";
         width: 14px;
         height: 14px;
         background-color: red;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         position: absolute;
         bottom: 18px;

         @media (max-width:780px) {
            bottom: 13px;
         }

         @media (max-width:530px) {
            bottom: 8px;
            width: 8px;
            height: 8px;
         }

      }
   }

   &-flying__button {
      background-color: #eff2f6;
      color: #0c0c0c;
      text-decoration: none;
      margin: 49px 0 0 130px;
      padding: 0 0 0 0px;

      @media (max-width:1890px) {
         margin: 49px 0 0 36%;
      }

      @media (max-width:780px) {
         margin: 6px 0 0 41%;
      }
   }

}