// main: ./../main.less
.vehicle {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid red;
   flex: 1 1 33.333%;
   background: url(/assets/image/about/vehicle.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

   &__title {
      font-size: 60px;
      font-weight: bold;
      color: #000000;
      margin-bottom: 11px;
   }

   &__text {
      font-size: 14px;
      color: #92a1a5;
   }
}